<div class="inner-intro parallax bg-overlay-black-70" style="background-image: url(assets/images/bg/08.jpg);">
  <div class="container">
    <div class="row text-center intro-title">
      <h1 class="text-orange">MENU</h1>
      <p class="text-white">Naszym sekretem jest dbałość o świerze produktu</p>
      <ul class="page-breadcrumb">

      </ul>
    </div>
  </div>
</div>

<!--=================================
 intro bg -->

<!--=================================
 our-menu -->

<!-- <section  *ngIf="menuItems.img"  class="our-menu page-section-pt mb-20">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <div class="section-title text-center">
          <div class="title-separator">
            <i class="glyph-icon flaticon-food-27"></i>
          </div>
          <h2> <span class="text-orange">MENU OF </span> THE DAY</h2>
          <p>Try our clam chowder shrimp dip blackened grouper salad</p>
        </div>
      </div>
    </div>
    </div>
</section> -->
<div class="menu-details-menu container">
  <div class="d-inline" *ngFor="let menuItems of menu">
    <button class="button" [ngClass]="{'button button-active': currentSection=== menuItems.id_class, 'button':currentSection !== menuItems.id_class }" id="submit" type="button" (click)='onSectionChange(menuItems.id_class)'>
      {{menuItems.category}}
    </button>
  </div>
</div>

<div id="parentDiv" scrollSpy [spiedTags]="['DIV']" (sectionChange)="onSectionChange($event)">
  <div  id="{{menuItems.id_class}}" *ngFor="let menuItems of menu">
    <!-- <section class="menu-list-bg bg-overlay-black-70" style="background-image: url(images/bg/03.jpg);">
  <div class="container text-center">
    <div class="row content-text">
      <h2>{{menuItems.category}}</h2>
    </div>
  </div>
</section> -->
    <div *ngIf="!menuItems.img" class="our-menu page-section-pt mb-20">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-md-12">
            <div class="section-title text-center">
              <div class="title-separator">
                <i class="glyph-icon flaticon-food-27"></i>
              </div>
              <h2> <span class="text-orange">{{menuItems.category}}</span></h2>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="menuItems.img" class="menu-list-bg bg-overlay-black-70"
      style="background-image: url({{menuItems.img}});">
      <div class="container text-center">
        <div class="row content-text">
          <h2>{{menuItems.category}}</h2>
        </div>
      </div>
    </div>




    <div  class="our-menu page-section-pt mb-20">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6" *ngFor="let dishItem of menuItems.dish">
            <div class="menu-body menu-left simple menu-white">
              <div class="menu-details">
                <div class="menu-title clearfix">
                  <h4> <span class="number-dish">{{dishItem.number}}</span> {{dishItem.name}}</h4>
                  <span class="price" *ngFor="let price of dishItem.price">
                    <div class="price-margin" *ngIf="price.size">
                      <table>
                        <tr>
                          <th>{{price.size}} </th>
                        </tr>
                        <tr>
                          <td>{{price.price}}</td>
                        </tr>
                      </table>
                    </div>
                    <div *ngIf="!price.size"> {{price.price}}</div>
                  </span>
                </div>
                <div class="menu-description">
                  <p>{{dishItem.description}}</p>
                </div>

              </div>
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>
</div>
<!-- <h1>Current Section : [{{currentSection}}]</h1>


<h2>Menu</h2><div style="position:fixed">
<div (click)="scrollTo('section1')">Section 1 
  <ng-container *ngIf="currentSection==='section1'">O</ng-container>
</div>
<div (click)="scrollTo('section2')">Section 2 
  <ng-container *ngIf="currentSection==='section2'">O</ng-container>
</div>
<div (click)="scrollTo('section3')">Section 3
  <ng-container *ngIf="currentSection==='section3'">O</ng-container>
</div>
<div (click)="scrollTo('section4')">Section 4 
  <ng-container *ngIf="currentSection==='section4'">O</ng-container>
</div>
<br/>
</div>


<div id="parentDiv" scrollSpy [spiedTags]="['DIV']" (sectionChange)="onSectionChange($event)" style="">
  <div id="section1">
    <h2 style="margin:0">Section 1</h2>
  </div>
  <div id="section2">
    <h1>Section 2</h1>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus. Suspendisse lectus tortor, dignissim sit amet, adipiscing nec, ultricies sed, dolor. Cras elementum ultrices diam. Maecenas ligula massa, varius a, semper congue, euismod non, mi. Proin porttitor, orci nec nonummy molestie, enim est eleifend mi, non fermentum diam nisl sit amet erat. Duis semperlit. Morbi vel erat non mauris convallis vehicula. Nulla et sapien. Integer tortor tellus, aliquam faucibus, convallis id, congue eu, quam. Mauris ullamcorper felis vitae erat. Proin feugiat, augue non elementum posuere, metus purus iaculis lectus, et tristique ligula justo vitae magna.
  </div>
  <section id="section3">
    <h1>Section 3</h1>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus. Suspendisse lectus tortor, dignissim sit amet, adipiscing nec, ultricies sed, dolor. Cras elementum ultrices diam. Maecenas ligula massa, varius a, semper congue, euismod non, mi. Proin porttitor, orci nec nonummy molestie, enim est eleifend mi, non fermentum diam nisl sit amet erat. Duis semperlit. Morbi vel erat non mauris convallis vehicula. Nulla et sapien. Integer tortor tellus, aliquam faucibus, convallis id, congue eu, quam. Mauris ullamcorper felis vitae erat. Proin feugiat, augue non elementum posuere, metus purus iaculis lectus, et tristique ligula justo vitae magna.
  </section>
  <div id="section4">
    <h1>Section 4</h1>
  </div>
</div>
<br/> -->
