
        <footer class="footer" style="background-image: url(assets/images/bg/01.jpg);">
            <div class="object-bottom">
              <div class="object-left">
                <img class="img-responsive bottom" src="assets/images/object/06.png" alt="">
              </div>
              <div class="object-right">
                <img class="img-responsive bottom" src="assets/images/object/16.png" alt="">
              </div>
            </div>
            <div class="container">
              <div class="row">
                <div class="col-lg-12 col-md-12 text-center mt-60">
                  <div class="footer-logo">
                    <img id="logo-footer" class="img-responive" src="assets/images/color-customizer/logo_skin-default.png" alt="">
                  </div>
                  <div class="col-lg-8 col-lg-offset-2">
                    <p class=" text-white mb-60"></p>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6">
                  <div class="newsletter">
                    <h4 class="text-white mb-30">Newsletter</h4>
                    <p class="text-white"></p>
                    <div class="newsletter-input">
                      <input type="email" placeholder="Your email*" name="email">
                      <a href="#"><i class="fa fa-envelope-o"></i></a>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6">
                  <div class="tweet">
                    <h4 class="text-white mb-30">Aktualności</h4>
                    <div class="tweet-block mb-20">
                      <div class="icon">
                      </div>
                      <div class="content">
                        <p class="text-white"> </p>
                        <span class="text-orange"></span>
                      </div>
                    </div>
                    <div class="tweet-block">
                      <div class="icon">
                       
                      </div>
                      <div class="content">
                        <p class="text-white"></p>
                        <span class="text-orange"></span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6">
                  <div class="opening-time">
                    <h4 class="text-white mb-30">Godziny otwarcia</h4>
                    <ul>
                      <li>Pon-Sob<span class="text-right">11-20</span></li>

                      <li>Niedziela<span>nieczyne</span></li>
                    </ul>
                  </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6">
                  <div class="contact">
                    <h4 class="text-white mb-30">Kontakt</h4>
                    <p class="text-white">ul. Tysiąclecia 15 Nisko</p>
                    <p class="text-white">793 310 310</p>
                    <p class="text-white">bis-ka@o2.pl</p>
                    <a class="text-orange" href="https://www.google.com/maps/place/Loco+Wok+Bar/@50.5203114,22.1302171,15z/data=!4m5!3m4!1s0x0:0xe6ab8de9fd08d611!8m2!3d50.5203114!4d22.1302171"><i class="fa fa-map-o pr-10"></i> Znajdz dojazd na google</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="footer-bottom">
              <div class="container">
                <div class="row">
                  <div class="co-lg-12 co-md-12 col-sm-12 col-xs-12 text-center">
                    <div class="footer-social">
                      <ul class="list-inline">
                        <li><a href="#" data-tooltip="facebook"> <i class="fa fa-facebook"></i> </a> </li>
                        <li><a href="#" data-tooltip="twitter"> <i class="fa fa-twitter"></i> </a> </li>
                        <li><a href="#" data-tooltip="google-plus"> <i class="fa fa-google-plus"></i> </a> </li>
                        <li><a href="#" data-tooltip="instagram"> <i class="fa fa-instagram"></i> </a> </li>
                        <li><a href="#" data-tooltip="tripadvisor"> <i class="fa fa-tripadvisor"></i> </a> </li>
                      </ul>
                    </div>
                    <p class="text-white mt-30"> ©Copyright <span id="copyright">
                    2020
                      </span> All right reserved by The PW. Designed by <a href="#"> Dartho2</a></p>
                  </div>
                </div>
              </div>
            </div>
          </footer>
        
          <!--=================================
            footer -->
        
          
          <!--=================================
            back to top -->
        